{% extends 'home/base.html' %}
{% block title %} Report{% endblock title %}
{% block content %}
{% load office_tag %}

<style>
@media screen and (max-width: 480px) {
.col-2{
    display: none;
}
.col-10{
    width: 100%;
}
}
</style>
<div class="container">
    <div class=""><h>Welcome - {{e.name}}</h></div>
    <div class="row">
        <div class="col-2">
            {% include 'include/office/office_menu.html' %}  
        </div>
        <div class="col-10">
            <div style="display:  grid;grid-template-columns: repeat(auto-fit, 350px);gap: 10px;justify-content: center;">
                {% total_amount %}
                {% total_pending_amount %}
            </div>
            <div style="display:  grid;grid-template-columns: repeat(auto-fit, 350px);gap: 10px;">
                {% total_cash_amount %}
                {% total_phonepe_amount %}
                {% total_bank_amount %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}