<style>
    .heading_total_phonepe_box{
        margin-top: 50px;
        border:1px solid black;
        width: 350px;
        text-align: center;
        font-weight: 500;
    }
.total_phone_box{
    display: grid;
    width: 350px;
    grid-template-columns: repeat 2fr 1fr ;
    div{
            border:1px solid black;
            text-align: center;

         
        }

}
.total_phonepe{
    border:1px solid black;
     grid-column-start: 1;
     grid-column-end: 3;
    text-align: center;  
    font-weight: 500;
}
</style>
<div >
<div class="heading_total_phonepe_box">Available All Phonpe Amount</div>

<div class="total_phone_box">
{% for p in phone %}

<div style="border-bottom: none;"> {{p.user.user_type.name}} - {{p.user.name}} - {{p.mobile}}</div>
<div style="display: flex;align-items: center;justify-content: center;border-left: none; border-bottom: none;">{{p.amount | floatformat:2 }}</div>

{% endfor %}
<div  class="total_phonepe" style="border-top: 2px solid black;"> Total PhonePe Rs. {{ total_phonepe | floatformat:0 }}</div>
</div>

</div>