<style>
    .but{
        width: 100%;
        display: flex;
        overflow: scroll;
        gap: 10px;
    }
</style>

<div class="but">
    <div></div>
    <a  href="/user/user_home/" class="my-1 {% if request.path == '/user/user_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/user/bill/" class="my-1 {% if request.path == '/user/bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Bill In</a>
    <a  href="/user/out/" class="my-1 {% if request.path == '/user/out/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Out</a>
    <a  href="/user/transfer/" class="my-1 {% if request.path == '/user/transfer/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Transfer</a>
    <a  href="/user/phonepe_verify/" class="my-1 {% if request.path == '/user/phonepe_verify/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Phonepe Verify</a>
    <a href="/user_logout/" class="btn btn-danger my-1">Logout</a>
</div>