<input type="hidden" name="user_id" value="{{user_id}}" required>
<div class="mb-3">
  <label for="disabledTextInput" class="form-label">Bill Name </label>
  <input type="text" id="bill_name" name="bill_name" class="form-control" placeholder="Enter Bill Name Hear" required>
</div>
    <div class="mb-5">
        <label for="disabledTextInput" class="form-label">Available Cash  Rs. {{cash}}</label>
        <input type="number" oninput="check_enter_amount(),check_zero('enter_amount')" id="enter_amount" name="amount" class="form-control" placeholder="Enter Hear Amount" required>
      </div>
      <button type="submit" class="btn btn-danger" name="User_out_cash">Out Cash</button>



<script>

  cash='{{cash}}'

  function check_enter_amount(){

    amount=document.getElementById('enter_amount').value;

if(parseInt(cash) <= parseInt(amount)){

  document.getElementById('enter_amount').value = '' ;
}
}
</script>
{% include 'include/check_zero.html' %}